In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("insurance_pre.csv")

In [4]:
data=pd.get_dummies(data,drop_first=True)

In [5]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
data.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=data[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [7]:
dependent=data[['charges']]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [143]:
from sklearn.ensemble import AdaBoostRegressor
regressor=AdaBoostRegressor(n_estimators=3,loss="linear")
regressor.fit(x_train,y_train)

C:\Users\venka\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoostRegressor(n_estimators=3)

In [144]:
ypred=regressor.predict(x_test)

In [145]:
from sklearn.metrics import r2_score
rscore=r2_score(y_test,ypred)

In [146]:
rscore

0.879025785640819