In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("insurance_pre.csv")

In [3]:
data=pd.get_dummies(data,drop_first=True)

In [72]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
independent=data[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [5]:
dependent=data[['charges']]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [66]:
from sklearn.ensemble import GradientBoostingRegressor
regressor=GradientBoostingRegressor(n_estimators= 450,
    max_depth= 4,
    min_samples_split= 5,
    learning_rate= 0.01,
    loss= "squared_error")
regressor.fit(x_train,y_train)

C:\Users\venka\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingRegressor(learning_rate=0.01, max_depth=4, min_samples_split=5,
                          n_estimators=450)

In [67]:
ypred=regressor.predict(x_test)

In [68]:
from sklearn.metrics import mean_squared_error
mean_square=mean_squared_error(y_test,ypred)
mean_square

18687069.128658485

In [69]:
from sklearn.metrics import r2_score
rscore=r2_score(y_test,ypred)
rscore

0.8828172583646937

In [86]:
import pickle
filename="boosting_regression_final_model.sav"
pickle.dump(regressor,open("boosting_regression_final_model.sav","wb"))

In [87]:
model_final=pickle.load(open("boosting_regression_final_model.sav","rb"))

In [88]:
result=model_final.predict([[35,23.155,2,1,0]])

C:\Users\venka\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

In [89]:
result

array([6721.69836435])