In [1]:
import pandas as pd

In [2]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\venka\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: scipy in c:\users\venka\anaconda3\lib\site-packages (from lightgbm) (1.9.1)
Requirement already satisfied: numpy in c:\users\venka\anaconda3\lib\site-packages (from lightgbm) (1.21.5)

In [3]:
import lightgbm

In [4]:
data=pd.read_csv("insurance_pre.csv")

In [5]:
data=pd.get_dummies(data,drop_first=True)

In [6]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
independent=data[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
dependent=data[['charges']]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [10]:
from lightgbm import LGBMRegressor
regressor=LGBMRegressor()
regressor.fit(x_train,y_train)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.011239 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 313
[LightGBM] [Info] Number of data points in the train set: 936, number of used features: 5
[LightGBM] [Info] Start training from score 13232.916456

LGBMRegressor()

In [11]:
ypred=regressor.predict(x_test)

In [12]:
from sklearn.metrics import r2_score
rscore=r2_score(y_test,ypred)
rscore

0.86603193419773