In [1]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\venka\anaconda3\lib\site-packages (1.7.6)
Requirement already satisfied: scipy in c:\users\venka\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\users\venka\anaconda3\lib\site-packages (from xgboost) (1.21.5)

In [2]:
import xgboost

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("insurance_pre.csv")

In [5]:
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
data=pd.get_dummies(data,drop_first=True)

In [7]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [8]:
independent=data[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [9]:
dependent=data[['charges']]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [11]:
from xgboost import XGBRegressor
regressor=XGBRegressor(n_samples=100, n_features=10, n_informative=15, noise=0.1, random_state=4)
regressor.fit(x_train,y_train)

[04:36:06] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "n_features", "n_informative", "n_samples", "noise" } are not used.

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_features=10, n_informative=15, n_jobs=None,
             n_samples=100, ...)

In [12]:
ypred=regressor.predict(x_test)

In [13]:
from sklearn.metrics import r2_score
rscore=r2_score(y_test,ypred)
rscore

0.8257765248999531